.sub2{
    width: 70%;
    background: linear-gradient(rgba(20, 20, 20, 0.527), rgba(20, 20, 20, 0.527)), url(https://ichef.bbci.co.uk/news/640/cpsprodpb/164EE/production/_109347319_gettyimages-611195980.jpg);
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  ol {
    list-style-type: none;
    counter-reset: question-counter;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 0;
  }
  
  input[type="submit"] {
    display: block;
    margin-top: 20px;
  }
  